#mail-logo {
  color: black;
}

#email-container {
  padding: 10px;
}

#email-title {
  text-align: center;
}

#email-title p {
  color: rgb(150,150,150);
  margin: 2px;
}

#email-complaints-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
