// Specific CSS for your home-page
body {
  background-color: white;
}

.homepage-container {
  padding: 15px;
  background: white;
}

.homepage-container h2 {
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
}

.container-intro h1 {
  display: inline;
  letter-spacing: -1px;
  font-style: normal;
  color: #000000;
  font-weight: 900;
  font-size: 50px;
  line-height: 74px;
}

.container-intro p {
  color: black;
  font-weight: 800;
  font-size: 25px;

}


#display-inline-block {
  // display: inline-block;
  color: $blue;
}

.homepage-container p {
  margin: -3px;
  text-align: justify;
}

.welcome-message h2 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: -12px;
  position:relative;
}

.form_box {
  display: flex;
  position: relative;

  .fas {
    position: absolute;
    right:85px;
    top: 18px;
    color: #797979;

  }
}

.form-control-style {
  border-radius: 8px;
  width: 250px;
  height: 51px;
  margin-left: 25px;
  margin-right: 10px;
  background-color: #EEEEEE;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
}

.presentation {
  margin-bottom:13px;
}
.form_box {
  margin-top: 40px;
}

.fa-location-arrow {
    font-size: 20px;
    // padding-right: 15px;
    // margin-left: -50px;
    // padding-top: 17px;
    color: gray;
    position: absolute;
    top: 15px;
    right: 75px;
}

#m-container-intro {
  text-align: justify;

}

#m-sub-welcome {
  position: absolute;
  right: 93px;
  line-height:3px;
}

#m-sub-welcome p {
  font-size: 17px;
}

#actions {
  padding-top:10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.container-intro {
  padding-top: 15px;
  padding-bottom: 3px;

}

#tool {
  text-align: center;
  color: grey;
  padding-top:16px;
  margin-top:19px;
}

.tool-instruction2 {
position: relative;
bottom: 43px;
left: 200px;
text-align: left;
font-size: 12px;
p {
  margin-bottom: 0;
}

}

.tool-instruction1 {
  position: relative;
bottom: 10px;
left: 10px;
text-align: left;
font-size: 12px;
width:140px;
p {
  margin-bottom: 0;
}
}

#p-intro {
  margin-top: 34px;
  color: black;
  font-weight: 800;
  text-align: left;
}

.home_form {
  .ap-input-icon {
    display: none;
  }
  .form-control-style {
    width: 100%;
    margin: 0px;
  }
  .square-btn-blue {
    margin-right: 10px;
    margin-left: 0px;
  }
  .algolia-places {
    margin-left: 40px;
    margin-right: 7px;
  }
}

#action p {
  font-size: 8px;
  color: rgba(170, 170, 170, 0.9);
}

