.type {
  width: 100px;
}


#margins-type a {
  text-decoration: none;
  color: #646464;
}


#city-container {
  padding: 20px;
  text-align: center;
}

#city-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 31px;
  color: #515151;
}

#city-type-filter h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

#map-container {
  margin-top: 20px;
}
