.margins-type {
  display: flex;
  justify-content: space-around;
}


#city-container {
  padding: 20px;
  text-align: center;
}

#city-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 31px;
  color: #515151;
}

#city-type-filter h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.type-btn {
  margin: -12px;
}

#map-container {
  margin-top: 20px;
}

.type a {
  color: #646464;
  text-decoration: none;
}

.madrid-map {
  text-align: center;
  margin: 45px 0px;
}

.c-t-complaints-tilte {
  text-align: center;
}
