<h5><%= link_to complaint.description %></h5>
<div class="upvote">
  <div class="col-4 upvote-complaints" id="<%= complaint.id %>" >
    <%= link_to upvote_path(complaint: complaint),method: :put, remote: :true do %>
    <%= render 'likes', complaint: complaint %>
    <% end %>
  </div>
</div>
