<%= link_to upvote_path(complaint: complaint), method: :post, remote: true do %>
  <i class="fas fa-thumbs-up" class="blue-font"></i>
<% end %>
<span data-upvote="complaint-<%= complaint.id %>" id=><%= complaint.upvote %>
</span>
