
<p>the adress that has been entered.</p>

<h1>The map</h1>

<p>modal for complaints#new</p>

<h1> Complaints around the area </h1>

<% @complaints.each do |complaint| %>
  <div>
    <%= complaint.description %>
    <div>
      <%= complaint.upvote %>
    </div>
    <div>
      <%= complaint.type.name %>
    </div>
  </div>
<% end %>

