<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="nav-height">
  <%= link_to complaints_path, class: "navbar-brand" do %>
    <div id="container-logo-nav">
      <h6>Urban</h6><h6 class="blue-font">Feed</h6>
    </div>
  <% end %>

  <div id="flex">
    <div id="padding-for-signup">
      <% unless user_signed_in? %>
        <%= link_to 'sign up', new_user_registration_path, id: "signup-link"%>
      <% end %>
    </div>

    <div id="padding-for-login">
      <% if user_signed_in? %>
        <%= link_to profile_path do%>
          <% current_user.name %>
        <% end %>
      <% else %>
        <h6 data-toggle="modal" data-target="#loginModal">login</h6>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <%= render "shared/loginform" %>
      </div>
    </div>
  </div>
</div>
