<div>
  <div>
    <h1>Your complaints basket</h1>
    <h6>Use this tool to send emails to multiple citizens
    with a single click!</h6>
  </div>
  <h3>Complaints you have added:</h3>
  <div>
    <% if Complaint.find_by(favorite: true).nil? %>
      <p>You havent add any complaint </p>
    <% else %>
      <% Complaint.where(favorite: true).each do |complaint| %>
        <div>
          <div>
            <%= complaint.description %>
          </div>
          <div>
            <%= link_to create_email_path do %>
              <p>[\/]</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
