<div id="email-container">
  <div id="email-title">
    <h3>Your complaints basket</h3>
    <p>Use this tool to send emails to multiple citizens
    with a single click!</p>
  </div>
  <div id='email-complaints-title'>
    <h6>Complaints you have added:</h6>
  </div>
  <div>
    <% if Complaint.find_by(favorite: true).nil? %>
      <p>You havent add any complaint </p>
    <% else %>
      <% Complaint.where(favorite: true).each do |complaint| %>
        <div class="complaint-container">
          <hr class="separator">
          <div class="row">
            <div class="col-8" >
              <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
                <p> "<%= complaint.description %>" </p>
              <% end %>
            </div>
            <div class="col-4">
                <%= link_to create_email_path(complaint: complaint) do %>
                  <p>[\/]</p>
                <% end %>
            </div>
          </div>
          <%= render 'showemail', complaint: complaint  %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

