<div id="sp-container">
  <div id="sp-title">
    <h1>SUPER-MAP TOOL</h1>
    <div>
      <p>Use this map to view number of complaints of a chosen category, in any region/province/city</p>
    </div>
  </div>
  <div id="sp-sort-map">
    <h3>Sort map by:</h3>
    <div>

    </div>
  </div>
</div>
<%= video_tag "Illustration.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

