.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-height {
  height: 28px;
}

#container-logo-nav {
  display: flex;
  justify-content: center;
  h6{
    font-weight: 900;
    font-size: 20px;
  }
}

#padding-for-login {
  position: relative;
}

#mail-logo {
  position: absolute;
  left: -35px;
  top: 2px;
}

