.square-btn-red {
  background-color: #E56F6F;
  border-radius: 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 300px;
  height: 51px;
  margin-top: 16px;
  padding: 10px;
}

.btn-primary-red {
  border-color: #E56F6F;
  background-color: #E56F6F;
}


.btn-primary-red:hover {
  border-color: #E56F6F;
  background-color: #E56F6F;
  color: white;
}


