.square-btn-blue {
  background-color: #5791FF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 59px;
  height: 51px;
  padding: 0px 10px;
}
